<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

   		<property name="connection.url">jdbc:postgresql://ec2-34-233-114-40.compute-1.amazonaws.com:5432/d9jf464q2ll2e8</property> <!-- BD Mane -->
   		<property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
   		<property name="connection.username">bcugsjfmpqnakc</property> <!-- DB User -->
   		<property name="connection.password">a5358f35be87db39f9893e3f65cb5ad92746d4a7cdb6af54ca74756312053966</property> <!-- DB Password -->
   		
   		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property> <!-- DB Dialect -->
   		<property name="hbm2ddl.auto">update</property> <!-- create / create-drop / update -->
		
		<property name="show_sql">true</property> <!-- Show SQL in console -->
		<property name="format_sql">true</property> <!-- Show SQL formatted -->
		
		<mapping class="com.commerce.backend.model.entity.Blog"/>
		<mapping class="com.commerce.backend.model.entity.BlogCategory"/>
		<mapping class="com.commerce.backend.model.entity.User"/>
		<mapping class="com.commerce.backend.model.entity.Cart"/>
		<mapping class="com.commerce.backend.model.entity.Discount"/>
		<mapping class="com.commerce.backend.model.entity.CartItem"/>
		<mapping class="com.commerce.backend.model.entity.ProductVariant"/>
		<mapping class="com.commerce.backend.model.entity.Product"/>
		<mapping class="com.commerce.backend.model.entity.Color"/>
		<mapping class="com.commerce.backend.model.entity.ProductCategory"/>
		<mapping class="com.commerce.backend.model.entity.Order"/>
		<mapping class="com.commerce.backend.model.entity.OrderDetail"/>
		<mapping class="com.commerce.backend.model.entity.UserAds"/>
		<mapping class="com.commerce.backend.model.entity.UserPetAds"/>
		<mapping class="com.commerce.backend.model.entity.UserAccAds"/>
		<mapping class="com.commerce.backend.model.entity.UserServiceAds"/>
        <mapping class="com.commerce.backend.model.entity.ItemObjectCategory"/>

	</session-factory>
</hibernate-configuration>